{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "${SID",
      "Effect": "Allow",
      "Principal": {
        "Service": [
          "${SERVICE}"
        ]
      },
      "Action": "${ACTION}"
    }
  ]
}